---
import MainLayout from '../../layouts/MainLayout.astro'
import {getCollection} from 'astro:content'
import Button from "../../components/button.astro";

export async function getStaticPaths() {
	const blogCollection = await getCollection('blog')
	return blogCollection.map(entry => ({params: {slug: entry.slug}, props: {entry}}))
}

const {entry} = Astro.props
const {Content} = await entry.render()
const publishedDate = new Date(entry.data.published_at)
const formattedDate = `${publishedDate.toLocaleString("default", {month: "long"})} ${publishedDate.getDay()}, ${publishedDate.getFullYear()}`
---
<MainLayout>
	<article class="max-w-2xl mx-4 my-16 sm:mx-auto">
		<img
                src=`${entry.data.img}`
                alt=`${entry.data.title}`
                class={`aspect-[4/3] rounded-3xl border-4 ${entry.data.category == 'tech' ? 'border-primaryYellow' : 'border-primaryGreen'}`}
                width="672"
                height="504"
        />
        <p class="prose" set:html={entry.data.photo_attribution}/>
		<h1 class="text-3xl font-display mt-8 mb-4 text-center">{entry.data.title}</h1>
        <p class="text-center mb-4">{formattedDate}</p>
		<div class="prose max-w-none text-black">
			<Content />
		</div>
        <div class="flex justify-center my-8">
            <Button url="/">All posts</Button>
        </div>
	</article>
</MainLayout>
