---
import MainLayout from '../../layouts/MainLayout.astro'
import {getCollection} from 'astro:content'

export async function getStaticPaths() {
	const blogCollection = await getCollection('blog')
	return blogCollection.map(entry => ({params: {slug: entry.slug}, props: {entry}}))
}

const {entry} = Astro.props
const {Content} = await entry.render()
const publishedDate = new Date(entry.data.published_at)
const formattedDate = `${publishedDate.toLocaleString("default", {month: "long"})} ${publishedDate.getDay()}, ${publishedDate.getFullYear()}`
---
<MainLayout
        title={entry.data.title}
        description={entry.data.description}
        keywords={entry.data.keywords}
        image={entry.data.img}
        url=`https://jamesdallen.me/blog/${entry.slug}`
>
	<article class="max-w-2xl mx-4 my-16 sm:mx-auto">
        <div class="mb-8">
            <a href='/' class=`font-display py-2 px-4 rounded-full` onclick="history.back()">
                &lt; Back to all posts
            </a>
        </div>
        <div class="aspect-[4/3] w-full h-auto">
            <img
                    src=`${entry.data.img}`
                    alt=`${entry.data.title}`
                    class={`rounded-3xl border-4 w-full h-full object-cover object-center ${entry.data.category == 'tech' ? 'border-primaryYellow' : 'border-primaryGreen'}`}
                    width="672"
                    height="504"
            />
        </div>
        <p class="prose" set:html={entry.data.photo_attribution}/>
		<h1 class="text-3xl font-display mt-8 mb-4 text-center">{entry.data.title}</h1>
        <p class="text-center mb-4">{formattedDate}</p>
		<div class="prose max-w-none text-black w-full">
			<Content />
		</div>
        <div class="flex justify-center my-8">
            <a href='/' class=`font-display py-2 px-4 rounded-full bg-primaryYellow`>
                All Posts
            </a>
        </div>
	</article>
</MainLayout>
