---
import MainLayout from '../layouts/MainLayout.astro'
import {getCollection} from 'astro:content'
import type {GetStaticPaths} from "astro";

export const getStaticPaths = (async ({paginate}) => {
    const blogCollection = await getCollection('blog')
    blogCollection.sort((a, b) => new Date(b.data.published_at).getTime() - new Date(a.data.published_at).getTime())

    return paginate(blogCollection, {pageSize: 4})
}) satisfies GetStaticPaths

const {page} = Astro.props
console.log(page)

const keywords = 'one, two'
---

<MainLayout title="Hello" description="My description" keywords=`${keywords}` image="bla" url="jamesdallen.me">
	<div class="relative font-sans px-4 pt-20 space-y-8 text-center max-w-xl mx-auto">
		<p><span class="font-bold">Hi! I'm James</span>, a former Hospital Laboratory supervisor who traded microscopes and test tubes for PHP and the TALL stack. Since 2021, I’ve been diving into the world of web development with the same passion I once used to analyze lab results. Today, I work with PHP, Laravel, and the TALL stack, crafting clean, functional code.</p>
		<p>On this site, you'll find my projects, musings, and occasional explorations of how my background in healthcare shapes my approach to development. So grab a coffee (as long as you aren’t in a clean area), and join me on this journey from lab supervisor to full-stack developer!</p>
		<div class="absolute text-7xl text-primaryRedOrange font-display top-0 left-2 -z-10 opacity-50 transform -rotate-6">&rdquo;</div>
	</div>
    <div>
        <div class="flex flex-wrap gap-x-4 gap-y-12 mx-4 max-w-4xl lg:mx-auto my-16">
            {page.data.map(entry => (
                <article class="w-[calc(50%-1em)]">
                    <a href=`/blog/${entry.slug}`>
                        <div class="aspect-[4/3]">
                            <img src=`${entry.data.img}` alt="room" class=`border-4  ${entry.data.category == 'tech' ? 'border-primaryYellow' : 'border-primaryGreen'} rounded-xl w-full h-full object-cover` />
                        </div>
                        <h2 class="font-display md:text-xl mx-4 text-center mt-4">{entry.data.title}</h2>
                    </a>
                </article>
            ))}
            <div class="flex justify-end w-full">
                {page.url.next ? <a href={`/page${page.url.next}`}>Next</a> : ''}
            </div>
        </div>
    </div>
</MainLayout>
